simple-html-date {
    display: flex;
    flex-direction: column;
}

.simple-html-date-col {
    display: flex;
    flex-direction: row;
}

simple-html-date-month {
    position: relative;
    display: flex;
    flex-direction: column;
}
simple-html-date-month-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border-bottom: 1px solid rgb(167, 158, 158);
}

simple-html-date-day-row {
    display: flex;
    box-sizing: border-box;
}

simple-html-date-header-row {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(167, 158, 158);
}

simple-html-date-week-header {
    position: relative;
    margin-left: 1px;
    margin-top: 1px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

simple-html-date-day-header {
    position: relative;
    margin-left: 1px;
    margin-top: 1px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

simple-html-date-week {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-style: italic;
}

simple-html-date-day {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border: 1px solid rgba(201, 195, 195, 0);
}



.simple-html-date-day-dimmed {
    color: rgb(230, 223, 223);
}

.simple-html-date-day-selected {
    background-color: rgb(236, 227, 227);
    box-sizing: border-box;  
}

.simple-html-date-day-hidden {
    pointer-events: none; /* disable hover */
}

simple-html-date-day:hover {
    border: 1px solid rgb(100, 100, 100);
    color: black;
}
