.simple-html-grid {
    --simple-html-grid-main-bg-color: #f5f5f5;
    --simple-html-grid-sec-bg-color: #ffffff;
    --simple-html-grid-alt-bg-color: #ffffff;
    --simple-html-grid-main-bg-border: #e6e5e5;
    --simple-html-grid-sec-bg-border: #e6e5e5;
    --simple-html-grid-main-bg-selected: #dbd7dc;
    --simple-html-grid-main-font-color: #2e2d2d;
    --simple-html-grid-sec-font-color: #979494;
    --simple-html-grid-dropzone-color: #979494;
    --simple-html-grid-grouping-border: #c7c7c7;
    --simple-html-grid-boxshadow: #fffdfd;

    --simple-html-grid-font-size: 11px;
    --simple-html-grid-font-weight: 500;
    --simple-html-grid-font-weight-header: 700;
    --simple-html-grid-font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
    border: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    display: block;
    position: relative;
    outline-color: var(--simple-html-grid-main-bg-color);
    font-family: var(--simple-html-grid-font-family);
    font-size: var(--simple-html-grid-font-size);
    font-weight: var(--simple-html-grid-font-weight);
    color: var(--simple-html-grid-main-font-color);
    background-color: var(--simple-html-grid-main-bg-color);
    border: 1px solid var(--simple-html-grid-main-bg-border);
}

simple-html-grid-column-chooser {
    max-height: 350px;
    overflow-y: auto !important;;
}

simple-html-grid-column-chooser .simple-html-grid {
    position: sticky;
    top: 0;
}

.simple-html-grid input::-webkit-calendar-picker-indicator {
    display: none;
}

.simple-html-grid input[type='date']::-webkit-input-placeholder {
    visibility: hidden !important;
}

.simple-html-grid input::-webkit-outer-spin-button,
.simple-html-grid input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.simple-html-grid input[type='number'] {
    -moz-appearance: textfield;
}

simple-html-grid-body::-webkit-scrollbar {
    width: 1em;
}

simple-html-grid-body::-webkit-scrollbar-track {
    /*nothing atm */
}

simple-html-grid-body::-webkit-scrollbar-thumb {
    background-color: var(--simple-html-grid-main-bg-selected);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    outline: 1px solid var(--simple-html-grid-main-bg-border);
}

.simple-html-grid .simple-html-grid-row {
    border: 0;
    width: 100%;
    min-width: 100%; /*without this left scrolltop will not be set when hidden*/
    border-bottom: 1px solid var(--simple-html-grid-main-bg-border);
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
}

/* when we have many rows within row */
.simple-html-grid .grouping-row-border {
    border-bottom: 2px solid var(--simple-html-grid-grouping-border);
}

.simple-html-grid input::placeholder {
    color: var(--simple-html-grid-sec-font-color);
    opacity: 1; /* Firefox */
}

.simple-html-grid-cell-row input::placeholder {
    color: transparent;
    opacity: 0; /* Firefox */
}

.simple-html-grid-selected-row .simple-html-grid-cell-row input::placeholder {
    color: var(--simple-html-grid-sec-font-color);
    opacity: 1; /* Firefox */
}

.simple-html-grid .simple-html-grid-col {
    border: 0;
    border-right: 1px solid var(--simple-html-grid-main-bg-border);
    box-sizing: border-box;
    position: absolute;
    height: 100%;
}

.simple-html-grid .simple-html-grid-panel {
    border: 0;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    background-color: var(--simple-html-grid-main-bg-color);
    box-shadow: inset 1px 1px 3px 0 var(--simple-html-grid-boxshadow);
}

.simple-html-grid .simple-html-grid-footer {
    border: 0;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    bottom: 0;
    border-top: 1px solid var(--simple-html-grid-main-bg-border);
    background-color: var(--simple-html-grid-main-bg-color);
    box-shadow: inset 1px 1px 3px 0 var(--simple-html-grid-boxshadow);
}

.simple-html-grid .simple-html-grid-header {
    border: 0;
    position: absolute;
    box-sizing: border-box;
    display: inline-block;
    min-width: 100%;
    background-color: var(--simple-html-grid-main-bg-color);
    border-right: 1px solid var(--simple-html-grid-main-bg-border);
    border-top: 1px solid var(--simple-html-grid-main-bg-border);
    border-bottom: 2px solid var(--simple-html-grid-main-bg-border);
    overflow: hidden;
}

.simple-html-grid .simple-html-grid-body {
    position: absolute;
    box-sizing: border-box;
    border-top: 1px solid var(--simple-html-grid-main-bg-border);
    min-width: 100%;
    overflow-y: auto;
}

.simple-html-grid .simple-html-grid-content {
    background-color: var(--simple-html-grid-sec-bg-color);
    min-width: 100%;
    z-index: 6;
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.simple-html-grid .simple-html-grid-group-row {
    position: absolute;
    box-sizing: border-box;
    border: 0;
    border-right: 1px solid var(--simple-html-grid-sec-bg-border);
}

.simple-html-grid .simple-html-grid-group-filter {
    position: absolute;
    box-sizing: border-box;
    border: 0;
    border-right: 1px solid var(--simple-html-grid-sec-bg-border);
}

.simple-html-grid .simple-html-grid-group-label {
    position: absolute;
    box-sizing: border-box;
    border: 0;
    border-right: 1px solid var(--simple-html-grid-sec-bg-border);
    border-bottom: 1px solid var(--simple-html-grid-sec-bg-border);
    overflow: hidden;
}

.simple-html-grid .simple-html-grid-cell-label {
    position: absolute;
    box-sizing: border-box;
    border: 0;
    border-radius: initial;
    box-shadow: initial;
    border-bottom: 1px solid var(--simple-html-grid-sec-bg-border);
    border-right: 1px solid var(--simple-html-grid-sec-bg-border);
    background-color: var(--simple-html-grid-main-bg-color);
    margin: initial;
    transition: initial;
    outline-color: var(--simple-html-grid-main-bg-color);
    color: var(--simple-html-grid-main-font-color);
}

.simple-html-grid .simple-html-grid-image-round {
    border-radius: 50%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.simple-html-grid .simple-html-grid-cell-filter {
    position: absolute;
    box-sizing: border-box;
    border: 0;
    border-radius: initial;
    box-shadow: initial;
    border-bottom: 1px solid var(--simple-html-grid-sec-bg-border);
    border-right: 1px solid var(--simple-html-grid-sec-bg-border);
    background-color: var(--simple-html-grid-alt-bg-color);
    margin: initial;
    transition: initial;
    outline-color: var(--simple-html-grid-main-bg-color);
    color: var(--simple-html-grid-main-font-color);
    font-family: var(--simple-html-grid-font-family);
    font-size: var(--simple-html-grid-font-size);
    font-weight: var(--simple-html-grid-font-weight);
}

.simple-html-grid .simple-html-grid-cell-row {
    position: absolute;
    box-sizing: border-box;
    border: 0;
    border-radius: initial;
    box-shadow: initial;
    border-bottom: 1px solid var(--simple-html-grid-sec-bg-border);

    margin: initial;
    transition: initial;
    outline-color: var(--simple-html-grid-main-bg-color);
    color: var(--simple-html-grid-main-font-color);
}

.simple-html-grid .simple-html-grid-row-checkbox {
    width: initial;
    opacity: initial;
    position: initial;
    display: block;
    margin: auto;
    padding-top: 2px;
    height: 100%;
    background-color: var(--simple-html-grid-sec-bg-color);
    color: var(--simple-html-grid-main-font-color);
}

.simple-html-grid .simple-html-grid-row-input {
    box-sizing: border-box;
    border: 0;
    position: absolute;
    border-radius: initial;
    box-shadow: initial;
    width: 100%;
    bottom: 1px;
    top: 0;
    padding-left: 5px;
    background-color: transparent;
    text-overflow: ellipsis;
    outline-color: var(--simple-html-grid-main-bg-color);
    color: var(--simple-html-grid-main-font-color);
    font-family: var(--simple-html-grid-font-family);
    font-size: var(--simple-html-grid-font-size);
    font-weight: var(--simple-html-grid-font-weight);
}
.simple-html-grid .simple-html-grid-row-input-button {
    box-sizing: border-box;
    border: 0;
    position: absolute;

    width: 20px;
    bottom: 1px;
    top: 0;
    right: 0;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;

    background-color: var(--simple-html-grid-main-bg-color);
    text-overflow: ellipsis;
    content: '...';
    outline-color: var(--simple-html-grid-main-bg-color);
    color: var(--simple-html-grid-main-font-color);
    font-family: var(--simple-html-grid-font-family);
    font-size: var(--simple-html-grid-font-size);
    font-weight: var(--simple-html-grid-font-weight);
}
.simple-html-grid .grid-edit-button {
    margin: 2px;
    position: absolute;
    top: 0px;
    border: 1px solid;
    border-color: var(--simple-html-grid-sec-bg-border);
    background-color: var(--simple-html-grid-main-bg-color);
}

.simple-html-grid .simple-html-grid-label {
    box-sizing: border-box;
    border: 0;
    border-radius: initial;
    box-shadow: inset 1px 1px 3px 0 var(--simple-html-grid-boxshadow);
    height: 100%;
    width: 100%;
    padding: 2px;
    position: absolute;
    text-align: center;
    overflow: hidden;
    user-select: none;
    margin: initial;
    font-family: var(--simple-html-grid-font-family);
    font-size: var(--simple-html-grid-font-size);
    font-weight: var(--simple-html-grid-font-weight-header);
}

.simple-html-grid .simple-html-grid-selected-row {
   /*  box-shadow: inset 1px 1px 3px 0 var(--simple-html-grid-boxshadow); */
    background-color: var(--simple-html-grid-main-bg-selected);
}

.simple-html-grid .simple-html-grid-draggable-handler {
    position: absolute;
    cursor: w-resize;
    width: 5px;
    right: -2.5px;
    top: 0;
    bottom: 0;
    z-index: 900;
    border: initial;
}

.simple-html-grid .simple-html-grid-vGridDragHandle {
    cursor: move;
}

.simple-html-grid .simple-html-grid-fa-sort-number[data-vgridsort]:after {
    font: x-small;
    font-size: 8px;
    content: attr(data-vgridsort);
}

.simple-html-grid .simple-html-grid-icon {
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    overflow: hidden;
    display: initial;
}

.simple-html-grid .simple-html-grid-iconhidden {
    display: none;
    pointer-events: none;
}

.simple-html-grid .simple-html-grid-dragHandle {
    cursor: move;
}

.simple-html-grid.simple-html-grid-drag {
    pointer-events: none;
    background-color: var(--simple-html-grid-main-bg-color);
    min-width: 100px;
    position: absolute;
    text-align: center;
    z-index: 50;

    font-family: var(--simple-html-grid-font-family);
    font-size: var(--simple-html-grid-font-size);
    font-weight: var(--simple-html-grid-font-weight-header);
}

.simple-html-grid .simple-html-grid-grouping-panel-container {
    background-color: var(--simple-html-grid-main-bg-color);
    position: relative;
    margin: 3px;
    height: 80%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    float: left;
    border: 1px solid var(--simple-html-grid-main-bg-border);
}

.simple-html-grid .simple-html-grid-grouping-row {
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    background-color: var(--simple-html-grid-main-bg-color);
    border-right: 1px solid var(--simple-html-grid-main-bg-border);
    box-shadow: inset 1px 1px 3px 0 var(--simple-html-grid-boxshadow);
}

.simple-html-grid .simple-html-grid-col-group {
    pointer-events: all;
    box-sizing: border-box;
    white-space: nowrap;
    position: absolute;
    border: 0;
    border-radius: initial;
    box-shadow: inset 1px 1px 3px 0 var(--simple-html-grid-boxshadow);
    padding: 2px 10px;
    height: 100%;
    background-color: var(--simple-html-grid-main-bg-color);
}

.simple-html-grid .simple-html-grid-grouping-panel-p {
    box-sizing: border-box;
    border: 0;
    border-radius: initial;
    box-shadow: initial;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    display: flex;
    text-align: center;
    box-shadow: inset 1px 1px 3px 0 var(--simple-html-grid-boxshadow);
}

.simple-html-grid .simple-html-grid-candrop {
    background-color: var(--simple-html-grid-dropzone-color);
    box-shadow: inset 1px 1px 3px 0 var(--simple-html-grid-boxshadow);
}

.simple-html-grid .simple-html-grid-candrop-panel-col {
    border-left: 3px solid var(--simple-html-grid-dropzone-color);
}

.simple-html-grid .simple-html-grid-row-input:focus {
    border: 1px dashed;
    outline: thin;
    outline-color: var(--simple-html-grid-main-bg-color);
}

.simple-html-grid-menu {
    position: absolute;
    z-index: 901;
    background-color: rgb(240, 240, 240);
    min-width: 150px;
    border-top: 1px solid var(--simple-html-grid-sec-bg-border);
    border-left: 1px solid var(--simple-html-grid-sec-bg-border);
    border-right: 1px solid var(--simple-html-grid-sec-bg-border);
    border-bottom: 1px solid var(--simple-html-grid-sec-bg-border);
    box-shadow: inset 1px 1px 3px 0 var(--simple-html-grid-boxshadow);
}
.simple-html-grid-menu-item {
    box-sizing: border-box;
    border: 0;
    border-radius: initial;

    height: 20px;
    text-align: center;
    overflow: hidden;
    user-select: none;
    margin: initial;
    font-family: var(--simple-html-grid-font-family);
    font-size: var(--simple-html-grid-font-size);
    font-weight: var(--simple-html-grid-font-weight-cell);
    background-color: var(--simple-html-grid-main-bg-color);
    margin: initial;
    transition: initial;
    outline-color: var(--simple-html-grid-main-bg-color);
    color: var(--simple-html-grid-main-font-color);
}
.simple-html-grid-menu-item-input {
    box-sizing: border-box;
    border: 0;
    border-radius: initial;
    height: 20px;
    text-align: center;
    overflow: hidden;
    user-select: none;
    margin: initial;
    font-family: var(--simple-html-grid-font-family);
    font-size: var(--simple-html-grid-font-size);
    font-weight: var(--simple-html-grid-font-weight-cell);
    margin: initial;
    transition: initial;
    outline-color: var(--simple-html-grid-main-bg-color);
    color: var(--simple-html-grid-main-font-color);
}

.simple-html-grid-menu-full {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 901;
    background-color: rgba(240, 240, 240, 0.5);
    min-width: 150px;
    border-top: 1px solid var(--simple-html-grid-sec-bg-border);
    border-left: 1px solid var(--simple-html-grid-sec-bg-border);
    border-right: 1px solid var(--simple-html-grid-sec-bg-border);
    border-bottom: 1px solid var(--simple-html-grid-sec-bg-border);
    box-shadow: inset 1px 1px 3px 0 var(--simple-html-grid-boxshadow);
}

.simple-html-grid-menu-item:hover {
    background-color: var(--simple-html-grid-main-bg-selected);
}

.simple-html-filter-dialog {
    box-shadow: 1px 1px 3px 0px #000000b5;
    top: 30%;
    position: relative;
    margin: auto;
}

.dialog-row {
    border-top: 1px solid var(--simple-html-grid-sec-bg-border);
    min-height: 20px;
}

.dialog-row div:first-child {
    border-top: 0px solid var(--simple-html-grid-sec-bg-border);
}

.dialog-item-block {
    border-right: 1px solid var(--simple-html-grid-sec-bg-border);
}

.dialog-item {
    display: flex;
    text-align: center;
}

.dialog-item-y {
    width: 140px;
    max-width: 140px;

    min-height: 20px;
}

.dialog-item-group {
    margin-left: 5px;
    margin-top: 2px;
}

.dialog-item-y:focus {
    outline: 1px dashed !important;
}

.dialog-item-x {
    min-width: 15px; /* due to icon */
    margin-left: 25px;
    margin-top: 5px;
}

.dialog-item-x:focus {
    outline: 0px !important;
}

.dialog-condition-trash {
    position: absolute;
    right: 5px;
}

.dialog-condition-type {
    position: absolute;
    right: 30px;
}

.simple-html-grid-drop-zone-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5px;
    text-align: center;
    z-index: 50;
}

.simple-html-grid-drop-zone-right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 5px;
    text-align: center;
    z-index: 90;
}

.simple-html-grid-drop-zone-bottom {
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 5px;
    height: 5px;
    text-align: center;
    z-index: 50;
}

.simple-html-grid-drop-zone-top {
    position: absolute;
    top: 0;
    left: 5px;
    right: 5px;
    height: 5px;
    text-align: center;
    z-index: 50;
}

div.dialog-row ul:first-child {
    margin-left: 0px;
}

ul.dialog-row {
    position: relative;
    margin-left: 10px;
    list-style: none;
    box-shadow: 1px 1px 3px 0 #fffdfd;
    border-left: 1px dotted rgb(100, 100, 100);
}

ul.dialog-row li {
    margin: 0;
    padding: 0 7px;
    margin-left: 10px;
    border-left: 1px dotted rgb(100, 100, 100);
}

ul.dialog-row li:before {
    position: relative;
    top: -0.3em;
    height: 1em;
    width: 12px;
    color: white;
    border-bottom: 1px dotted rgb(100, 100, 100);
    content: '';
    display: inline-block;
    left: -7px;
}

ul.dialog-row div:before {
    position: relative;
    top: 5px;
    height: 1em;
    width: 11px;
    color: white;
    border-bottom: 1px dotted rgb(100, 100, 100);
    content: '';
    display: inline-block;
}

ul.dialog-row ul:last-child {
    border-left: 1px dotted rgb(100, 100, 100);
}

.first-dialog-row {
    border-left: 0px !important;
}
