.free-grid {
    --freegrid-main-bg-color: #5a5a5a;
    --freegrid-sec-bg-color: #616060;
    --freegrid-alt-bg-color: #797979;
    --freegrid-main-bg-border: #464444;
    --freegrid-sec-bg-border: #565656;
    --freegrid-main-bg-selected: #4b4d4e;
    --freegrid-main-font-color: #eae6e6;
    --freegrid-sec-font-color: #979494;
    --freegrid-font-size: 11px;
    --freegrid-font-weight: 500;
    --freegrid-font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    border: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    display: block;
    position: relative;
    outline-color: var(--freegrid-main-bg-color);
    font-family: var(--freegrid-font-family);
    font-size: var(--freegrid-font-size);
    font-weight: var(--freegrid-font-weight);
    color: var(--freegrid-main-font-color);
    background-color: var(--freegrid-main-bg-color);
    border: 1px solid var(--freegrid-main-bg-border);
}

free-grid-body::-webkit-scrollbar {
    width: 1em;
}
free-grid-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
free-grid-body::-webkit-scrollbar-thumb {
    background-color: var(--freegrid-main-bg-selected);
    outline: 1px solid var(--freegrid-main-bg-border);
}

.free-grid .free-grid-row {
    border: 0;
    width: 100%;
    min-width: 100%; /*without this left scrolltop will not be set when hidden*/
    border-bottom: 1px solid var(--freegrid-main-bg-border);
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
}

/* when we have many rows within row */
.free-grid .grouping-row-border {
    border-bottom: 2px solid var(--freegrid-main-bg-border);
}

.free-grid input::placeholder {
    color: var(--freegrid-sec-font-color);
    opacity: 1; /* Firefox */
}

.free-grid .free-grid-col {
    border: 0;
    border-right: 1px solid var(--freegrid-main-bg-border);
    /* border-top: 1px solid var(--freegrid-main-bg-border); */
    box-sizing: border-box;
    position: absolute;
    height: 100%;
}

.free-grid .free-grid-panel {
    border: 0;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    background-color: var(--freegrid-main-bg-color);
}

.free-grid .free-grid-footer {
    border: 0;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    bottom: 0;
    border-top: 1px solid var(--freegrid-main-bg-border);
    background-color: var(--freegrid-main-bg-color);
}

.free-grid .free-grid-header {
    border: 0;
    position: absolute;
    box-sizing: border-box;
    display: inline-block;
    min-width: 100%;
    background-color: var(--freegrid-main-bg-color);
    border-right: 1px solid var(--freegrid-main-bg-border);
    border-top: 1px solid var(--freegrid-main-bg-border);
    border-bottom: 1px solid var(--freegrid-main-bg-border);
    overflow: hidden;
}

.free-grid .free-grid-body {
    position: absolute;
    box-sizing: border-box;
    border-top: 1px solid var(--freegrid-main-bg-border);
    min-width: 100%;
    overflow-y: auto;
}

.free-grid .free-grid-content {
    background-color: var(--freegrid-sec-bg-color);
    min-width: 100%;
    z-index: 6;
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.free-grid .free-grid-group-row {
    position: absolute;
    box-sizing: border-box;
    border: 0;
    border-right: 1px solid var(--freegrid-sec-bg-border);
}

.free-grid .free-grid-group-filter {
    position: absolute;
    box-sizing: border-box;
    border: 0;
    border-right: 1px solid var(--freegrid-sec-bg-border);
}

.free-grid .free-grid-group-label {
    position: absolute;
    box-sizing: border-box;
    border: 0;
    border-right: 1px solid var(--freegrid-sec-bg-border);
}

.free-grid .free-grid-cell-label {
    position: absolute;
    box-sizing: border-box;
    border: 0;
    border-radius: initial;
    box-shadow: initial;
    border-bottom: 1px solid var(--freegrid-sec-bg-border);
    border-right: 1px solid var(--freegrid-sec-bg-border);
    background-color: var(--freegrid-sec-bg-color);
    margin: initial;
    transition: initial;
    outline-color: var(--freegrid-main-bg-color);
    color: var(--freegrid-main-font-color);
}

.free-grid .free-grid-image-round {
    border-radius: 50%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.free-grid .free-grid-cell-filter {
    position: absolute;
    box-sizing: border-box;
    border: 0;
    border-radius: initial;
    box-shadow: initial;
    border-top: 1px solid var(--freegrid-sec-bg-border);
    border-right: 1px solid var(--freegrid-sec-bg-border);
    background-color: var(--freegrid-alt-bg-color);
    margin: initial;
    transition: initial;
    outline-color: var(--freegrid-main-bg-color);
    color: var(--freegrid-main-font-color);
    font-family: var(--freegrid-font-family);
    font-size: var(--freegrid-font-size);
    font-weight: var(--freegrid-font-weight);
}

.free-grid .free-grid-cell-row {
    position: absolute;
    box-sizing: border-box;
    border: 0;
    border-radius: initial;
    box-shadow: initial;
    border-bottom: 1px solid var(--freegrid-sec-bg-border);

    margin: initial;
    transition: initial;
    outline-color: var(--freegrid-main-bg-color);
    color: var(--freegrid-main-font-color);
}

.free-grid .free-grid-row-checkbox {
    width: initial;
    opacity: initial;
    position: initial;
    display: block;
    margin: auto;
    padding-top: 2px;
    height: 100%;
    background-color: var(--freegrid-sec-bg-color);
    color: var(--freegrid-main-font-color);
}

.free-grid .free-grid-row-input {
    box-sizing: border-box;
    border: 0;
    position: absolute;
    border-radius: initial;
    box-shadow: initial;
    width: 100%;
    height: 100%;
    padding-left: 5px;
    background-color: transparent;
    outline-color: var(--freegrid-main-bg-color);
    color: var(--freegrid-main-font-color);
    font-family: var(--freegrid-font-family);
    font-size: var(--freegrid-font-size);
    font-weight: var(--freegrid-font-weight);
}

.free-grid .free-grid-label {
    box-sizing: border-box;
    border: 0;
    border-radius: initial;
    box-shadow: initial;
    height: 100%;
    width: 100%;
    padding: 5px;
    position: absolute;
    text-align: center;
    overflow: hidden;
    user-select: none;
    margin: initial;
    font-family: var(--freegrid-font-family);
    font-size: var(--freegrid-font-size);
    font-weight: var(--freegrid-font-weight);
}

.free-grid .free-grid-selected-row {
    box-shadow: none;
    background-color: var(--freegrid-main-bg-selected);
}

.free-grid .free-grid-draggable-handler {
    position: absolute;
    cursor: w-resize;
    width: 15px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 900;
    border: initial;
}

.free-grid .free-grid-vGridDragHandle {
    cursor: move;
}

.free-grid .free-grid-fa-sort-number[data-vgridsort]:after {
    font: x-small;
    font-size: 8px;
    content: attr(data-vgridsort);
}

.free-grid .free-grid-icon {
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    overflow: hidden;
    display: initial;
}

.free-grid .free-grid-iconhidden {
    display: none;
}

.free-grid .free-grid-dragHandle {
    cursor: move;
}

.free-grid.free-grid-drag {
    border: 1px solid var(--freegrid-main-bg-border);
    box-sizing: border-box;
    box-shadow: initial;
    line-height: 50%;
    pointer-events: none;
    background-color: var(--freegrid-main-bg-selected);
    height: 25px;
    display: block;
    min-width: 100px;
    position: absolute;
    padding-top: 5px;
    text-align: center;
    z-index: 50;
    font-weight: 700;
    color: var(--freegrid-main-font-color);
}

.free-grid .free-grid-grouping-panel-container {
    background-color: var(--freegrid-main-bg-color);
    position: relative;
    margin: 3px;
    height: 80%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    float: left;
    border: 1px solid var(--freegrid-main-bg-border);
}

.free-grid .free-grid-grouping-row {
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    background-color: var(--freegrid-main-bg-color);
}

.free-grid .free-grid-col-group {
    pointer-events: all;
    box-sizing: border-box;
    white-space: nowrap;
    position: absolute;
    border: 0;
    border-radius: initial;
    box-shadow: initial;
    padding: 5px 10px;
    height: 100%;
    background-color: var(--freegrid-main-bg-color);
}

.free-grid .free-grid-grouping-panel-p {
    box-sizing: border-box;
    border: 0;
    border-radius: initial;
    box-shadow: initial;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    display: flex;
    text-align: center;
}

.free-grid .free-grid-candrop {
    background-color: var(--freegrid-alt-bg-color);
}
