.simple-html-grid {
    text-align: initial;
    --simple-html-grid-main-bg-color: #f5f5f5;
    --simple-html-grid-sec-bg-color: #ffffff;
    --simple-html-grid-alt-bg-color: #ffffff;
    --simple-html-grid-main-bg-border: #e6e5e5;
    --simple-html-grid-pinned-border: #d1d0d0;
    --simple-html-grid-sec-bg-border: #e6e5e5;
    --simple-html-grid-main-bg-selected: #86b8e0;
    --simple-html-grid-main-bg-even: rgba(255, 255, 255, 0);
    --simple-html-grid-main-font-color: #2e2d2d;
    --simple-html-grid-sec-font-color: #979494;
    --simple-html-grid-dropzone-color: rgba(129, 127, 127, 0.7);
    --simple-html-grid-grouping-border: #c7c7c7;
    --simple-html-grid-boxshadow: #fffdfd;
    --simple-html-grid-main-hr-border: #ffffff;

    --simple-html-grid-font-size: 11px;
    --simple-html-grid-font-weight: 500;
    --simple-html-grid-font-weight-header: 700;
    --simple-html-grid-font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
    border: 0;
    line-height: 1.5;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    display: block;
    position: relative;
    outline-color: var(--simple-html-grid-main-bg-color);
    font-family: var(--simple-html-grid-font-family);
    font-size: var(--simple-html-grid-font-size);
    font-weight: var(--simple-html-grid-font-weight);
    color: var(--simple-html-grid-main-font-color);
    background-color: var(--simple-html-grid-main-bg-color);
    border: 1px solid var(--simple-html-grid-main-bg-border);
}

input {
    z-index: 1000;
    pointer-events: all;
}

/* 
 * Main elements 
 */

.simple-html-grid-panel {
    pointer-events: all;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 1px solid var(--simple-html-grid-main-bg-border);
    box-shadow: inset 1px 1px 3px 0 var(--simple-html-grid-boxshadow);
    background-color: var(--simple-html-grid-main-bg-color);
}

.simple-html-grid-panel-label {
    pointer-events: all;
    box-sizing: border-box;
    position: relative;
    border: 1px solid var(--simple-html-grid-main-bg-border);
    box-shadow: inset 1px 1px 3px 0 var(--simple-html-grid-boxshadow);
    background-color: var(--simple-html-grid-main-bg-color);
    margin: 2px;
    min-width: 50px;
}

.simple-html-grid-panel-label-text {
    padding-left: 5px;
}

.simple-html-grid-header {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    overflow-y: scroll;
    pointer-events: all;
    border-bottom: 2px solid var(--simple-html-grid-pinned-border);
    background-color: var(--simple-html-grid-sec-bg-color);
}

.simple-html-grid-body {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    pointer-events: none;
    border-bottom: 1px solid var(--simple-html-grid-main-bg-border);
}

.simple-html-grid-body-scroller {
    box-sizing: border-box;
    position: absolute;
    right: 0;
    left: 0;
    overflow-y: scroll;
}

.simple-html-grid-body-scroller-rows {
    box-sizing: border-box;
    position: absolute;
    min-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    width: 1px;
}

.simple-html-grid-middle-scroller {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: scroll;
}

.simple-html-grid-middle-scroller-body {
    box-sizing: border-box;
    position: absolute;
    min-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
}

.simple-html-grid-footer {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 1px 1px 3px 0 var(--simple-html-grid-boxshadow);
    background-color: var(--simple-html-grid-main-bg-color);
}

/* 
 * view containers headers
 */

.simple-html-grid-header-view-selector {
    box-sizing: border-box;
    position: absolute;
    border-right: 1px solid var(--simple-html-grid-main-bg-border);
    left: 0;
    bottom: 0;
    top: 0;
    box-shadow: inset 1px 1px 3px 0 var(--simple-html-grid-boxshadow);
    background-color: var(--simple-html-grid-main-bg-color);
}

.simple-html-grid-header-view-pinned-left {
    box-sizing: border-box;
    position: absolute;
    border-right: 2px solid var(--simple-html-grid-pinned-border);
    bottom: 0;
    top: 0;
}

.simple-html-grid-header-view-pinned-middle {
    box-sizing: border-box;
    position: absolute;

    bottom: 0;
    top: 0;
    overflow: hidden;
}

.simple-html-grid-header-view-pinned-right {
    box-sizing: border-box;
    position: absolute;
    border-left: 2px solid var(--simple-html-grid-pinned-border);
    bottom: 0;
    right: 0;
    top: 0;
}

/* 
 * views
 */

.simple-html-grid-body-view-group {
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
    right: 0;
    bottom: 0;
    top: 0;
}

.simple-html-grid-body-view-selector {
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
    border-right: 1px solid var(--simple-html-grid-main-bg-border);
    box-shadow: inset 1px 1px 3px 0 var(--simple-html-grid-boxshadow);
    background-color: var(--simple-html-grid-main-bg-color);
    left: 0;
    bottom: 0;
    top: 0;
}

.simple-html-grid-body-view-pinned-left {
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
    border-right: 2px solid var(--simple-html-grid-pinned-border);

    bottom: 0;
    top: 0;
}

.simple-html-grid-body-view-pinned-middle {
    box-sizing: border-box;
    position: absolute;

    bottom: 0;
    top: 0;
    overflow: hidden;
}

.simple-html-grid-body-view-pinned-right {
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
    border-left: 2px solid var(--simple-html-grid-pinned-border);

    bottom: 0;
    right: 0;
    top: 0;
}

/* 
 * row container body
 */

.simple-html-grid-body-row-container-group {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
}

.simple-html-grid-body-row-container-selector {
    box-sizing: border-box;
    position: absolute;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    min-height: 100%;
}

.simple-html-grid-body-row-container-pinned-left {
    box-sizing: border-box;
    position: absolute;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    min-height: 100%;
}

.simple-html-grid-body-row-container-pinned-middle {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.simple-html-grid-body-row-container-pinned-right {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    min-height: 100%;
}

/* 
 * row container header
 */

.simple-html-grid-header-row-container-selector {
    box-sizing: border-box;
    position: absolute;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    min-height: 100%;
    overflow: hidden;
}

.simple-html-grid-header-row-container-pinned-left {
    box-sizing: border-box;
    position: absolute;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    min-height: 100%;
    overflow: hidden;
}

.simple-html-grid-header-row-container-pinned-middle {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.simple-html-grid-header-row-container-pinned-right {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    min-height: 100%;
    overflow: hidden;
}

/*
* scrollbar
*/

.simple-html-grid-middle-scroller::-webkit-scrollbar {
    box-sizing: border-box;
    height: 10px;
    width: 0;
    z-index: 10;
}

.simple-html-grid-middle-scroller::-webkit-scrollbar-thumb {
    box-sizing: border-box;
    background-color: var(--simple-html-grid-main-bg-selected);
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    outline: 1px solid var(--simple-html-grid-main-bg-border);
    z-index: 10;
}
.simple-html-grid-middle-scroller::-webkit-scrollbar-track {
    box-sizing: border-box;
    background-color: var(--simple-html-grid-main-bg-color);
    z-index: 10;
}

/*
 * scrollbar
 */

.simple-html-grid-body-scroller::-webkit-scrollbar {
    width: 10px;
}

.simple-html-grid-body-scroller::-webkit-scrollbar-thumb {
    box-sizing: border-box;
    background-color: var(--simple-html-grid-main-bg-selected);
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    outline: 1px solid var(--simple-html-grid-main-bg-border);
}
.simple-html-grid-body-scroller::-webkit-scrollbar-track {
    box-sizing: border-box;
    background-color: var(--simple-html-grid-main-bg-color);
}

/*
 * scrollbar
 */

.simple-html-grid-header::-webkit-scrollbar {
    width: 10px;
}

.simple-html-grid-header::-webkit-scrollbar-thumb {
    box-sizing: border-box;
    background-color: var(--simple-html-grid-main-bg-selected);
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    outline: 1px solid var(--simple-html-grid-main-bg-border);
}
.simple-html-grid-header::-webkit-scrollbar-track {
    box-sizing: border-box;
    background-color: var(--simple-html-grid-main-bg-color);
}

/*
 * row
 */

.simple-html-grid-row {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    min-width: 100%;
    pointer-events: all;
    border-bottom: 1px solid var(--simple-html-grid-pinned-border);
    background-color: var(--simple-html-grid-sec-bg-color);
}

.simple-html-grid-row-extended {
    border-bottom: 2px solid var(--simple-html-grid-pinned-border);
}

.simple-html-grid-col {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    border-right: 1px solid var(--simple-html-grid-main-bg-border);
    bottom: 0;
}

.simple-html-grid-col-cell {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    pointer-events: all;
    border-bottom: 1px solid var(--simple-html-grid-main-bg-border);
    bottom: 0;
    vertical-align: middle;
}

.simple-html-grid-col-cell input {
    box-sizing: border-box;
    position: absolute;
    background-color: transparent;
    left: 0;
    right: 0;
    border: 0;
    outline: none;
    top: 0;
    bottom: 0;
}

.simple-html-label {
    box-shadow: inset 1px 1px 3px 0 var(--simple-html-grid-boxshadow);
    background-color: var(--simple-html-grid-main-bg-color);
    pointer-events: all;

    font-family: var(--simple-html-grid-font-family);
    font-size: var(--simple-html-grid-font-size);
    font-weight: var(--simple-html-grid-font-weight-header);
    text-align: center;
    overflow: hidden;
    user-select: none;
    /*  padding: 2px; */
}

.simple-html-dimmed {
    box-sizing: border-box;
    position: absolute;
    background-color: transparent;
    left: 0;
    right: 0;
    border: 0;
    outline: none;
    top: 0;
    bottom: 0;
    overflow: hidden;
    user-select: none;
    filter: opacity(0.1);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScvPgogIDxwYXRoIGQ9J00tMSwxIGwyLC0yCiAgICAgICAgICAgTTAsMTAgbDEwLC0xMAogICAgICAgICAgIE05LDExIGwyLC0yJyBzdHJva2U9J2JsYWNrJyBzdHJva2Utd2lkdGg9JzEnLz4KPC9zdmc+Cg==);
    background-repeat: repeat;
}

.simple-html-selector {
    box-shadow: inset 1px 1px 3px 0 var(--simple-html-grid-boxshadow);
}

.simple-html-absolute-fill {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.simple-html-grid input::placeholder {
    color: var(--simple-html-grid-sec-font-color);
    opacity: 1; /* Firefox */
}

.simple-html-grid-cell-row input::placeholder {
    color: transparent;
    opacity: 0; /* Firefox */
}

.simple-html-grid-selected-row .simple-html-grid-cell-row input::placeholder {
    color: var(--simple-html-grid-sec-font-color);

    opacity: 1; /* Firefox */
}

.simple-html-grid .simple-html-grid-selected-row {
    background-color: var(--simple-html-grid-main-bg-selected);
    /*     border-bottom: 2px solid var(--simple-html-grid-alt-bg-color); */
}

.simple-html-grid .simple-html-grid-drop-container {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}

.simple-html-grid .simple-html-grid-candrop {
    background-color: var(--simple-html-grid-dropzone-color);
}

.simple-html-grid-header input::placeholder {
    filter: opacity(0.2);
}

/* 
 * used when dragdrop is actived, 
 * dragdrop-state class will be added to header 
 */
.simple-html-grid .dragdrop-state .simple-html-grid-drop-zone-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5px;
    z-index: 15;
}

.simple-html-grid .dragdrop-state .simple-html-grid-drop-zone-left-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5px;
    z-index: 15;
}

/* 
 * used when dragdrop is actived, 
 * dragdrop-state class will be added to header 
 */
.simple-html-grid .dragdrop-state .simple-html-grid-drop-zone-right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 5px;
    z-index: 15;
}

/* 
 * used when dragdrop is actived, 
 * dragdrop-state class will be added to header 
 */
.simple-html-grid .dragdrop-state .simple-html-grid-drop-zone-bottom {
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 5px;
    height: 5px;
    z-index: 15;
}

/* 
 * used when dragdrop is actived, 
 * dragdrop-state class will be added to header 
 */
.simple-html-grid .dragdrop-state .simple-html-grid-drop-zone-top {
    position: absolute;
    top: 0;
    left: 5px;
    right: 5px;
    height: 5px;
    z-index: 15;
}

/* 
 * used when dragdrop is actived, 
 * dragdrop-state class will be added to header 
 */
.simple-html-grid .dragdrop-state .simple-html-grid-drop-zone-center {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    z-index: 15;
}

.simple-html-selector-text {
    filter: opacity(0.5);
}

.simple-html-grid-col-resize {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: ew-resize;
    z-index: 8;
    top: 0;
    width: 10px;
    opacity: 0.2;
}

.simple-html-grid-col-resize-right {
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: ew-resize;
    z-index: 8;
    top: 0;
    width: 10px;
    opacity: 0.2;
}

.simple-html-grid-col-resize-hover {
    box-shadow: inset 1px 1px 3px 0 var(--simple-html-grid-boxshadow);
    background-color: var(--simple-html-grid-dropzone-color);
}

.simple-html-draggable-element {
    position: absolute;
    z-index: 2000;
    box-sizing: border-box;
    text-align: center;
}

.simple-html-draggable-element-label {
    margin: auto;
}

.simple-html-label-group {
    box-shadow: inset 1px 1px 3px 0 var(--simple-html-grid-boxshadow);
    background-color: var(--simple-html-grid-main-bg-color);
    pointer-events: all;

    font-family: var(--simple-html-grid-font-family);
    font-size: var(--simple-html-grid-font-size);
    font-weight: var(--simple-html-grid-font-weight-header);
    color: var(--simple-html-grid-main-font-color);
    overflow: hidden;
    display: flex;
    user-select: none;
    padding: 2px;
}

.simple-html-grid-grouping-row {
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: var(--simple-html-grid-main-bg-color);
    border-right: 1px solid var(--simple-html-grid-main-bg-border);
    box-shadow: inset 1px 1px 3px 0 var(--simple-html-grid-boxshadow);
}

.simple-html-grid .simple-html-grid-icon {
    fill: currentColor;
    width: 15px;
    height: 15px;
    margin-right: 2px;
    vertical-align: bottom;
    overflow: hidden;
    display: initial;
}

.simple-html-grid .simple-html-grid-icon-group {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    right: 0;
}

.simple-html-grid .simple-html-grid-icon-group-svg {
    fill: transparent;
    width: 15px;
    height: 15px;
    margin: auto;
    display: block;
    color: inherit;
    overflow: hidden;
}

/* .simple-html-grid .simple-html-grid-icon-group-svg:hover {
    display: block;
    color: inherit;
} */

.simple-html-grid-sort-number {
    position: absolute;
    right: 3px;
}

.simple-html-grid .simple-html-grid-sort-number[data-sortno]:after {
    font: x-small;
    font-size: 8px;
    content: attr(data-sortno);
}

.simple-html-grid input {
    outline-color: var(--simple-html-grid-main-bg-color);
    color: var(--simple-html-grid-main-font-color);
    font-family: var(--simple-html-grid-font-family);
    font-size: var(--simple-html-grid-font-size);
    font-weight: var(--simple-html-grid-font-weight);
    margin-left: 3px;
    margin-right: 3px;
}
