body {
    margin: 0;
    overflow-y: scroll;
}


.tag-pill:hover{
    background-color: #687077;
    text-decoration: underline !important;

}

.tag-pill:focus{
    color: #3d8b3d;
    background-color: #687077;
    text-decoration: underline !important;
}

