simple-html-date {
    display: flex;
    flex-direction: column;
}

.simple-html-date-col {
    display: flex;
    flex-direction: row;
}

simple-html-date-month {
    position: relative;
    display: flex;
    flex-direction: column;
}
simple-html-date-month-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border-bottom: 1px solid rgb(167, 158, 158);
}

simple-html-date-day-row {
    display: flex;
}

simple-html-date-header-row {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(167, 158, 158);
}

simple-html-date-week-header {
    position: relative;
    margin-left: 1px;
    margin-top: 1px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

simple-html-date-day-header {
    position: relative;
    margin-left: 1px;
    margin-top: 1px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

simple-html-date-week {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

simple-html-date-day {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

simple-html-date-day:hover {
    background-color: rgb(236, 227, 227);
    color: black;
}

.simple-html-date-day-dimmed {
    color: rgb(230, 223, 223);
}
