simple-html-date-month {
    position: relative;
    width: 200px;
    display: flex;
    flex-direction: column;
}
simple-html-date-month-header {
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

simple-html-date-day-row {
    height: 25px;
    display: flex;
}

simple-html-date-header-row {
    height: 25px;
    display: flex;
}

simple-html-date-week-header {
    position: relative;
    margin-left: 1px;
    margin-top: 1px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
simple-html-date-day-header {
    position: relative;
    margin-left: 1px;
    margin-top: 1px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

simple-html-date-week {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

simple-html-date-day {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
