.m-1 {
    margin: 2px;
}

.p-1 {
    padding: 2px;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.free-grid{
    --main-bg-color: #5a5a5a;
    --sec-bg-color: #616060;
    --alt-bg-color: #797979;
    --main-bg-border: #464444;
    --sec-bg-border:#565656;
    --main-bg-selected: #4b4d4e;
    --main-font-color: #eae6e6;
    
}
